# Flutter
.dart_tool/
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
*.lock

# Android
android/.gradle/
android/local.properties
android/app/.cxx/

# iOS
ios/.symlinks/
ios/Pods/
ios/.generated/

# IDE
.idea/
.vscode/
*.iml
.DS_Store

# Keys and secrets
*.keystore
*.jks
keys.properties